/* You can add global styles to this file, and also import other style files */

.list-panel {
  height: 400px;
  overflow: hidden;
}

.hide-overflow {
  overflow: hidden;
}


.list-img {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.panel-img {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 110%;
}
